.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
src/main/resources/application.yml.orig
*.log.*
src/integrationtest/
src/main/java/com/mobile/di/HotelManagementSystem/service/
src/main/java/com/mobile/di/HotelManagementSystem/validator/
HotelManagementSystem.log.1
